* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .5em;
    height: 100vh
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten{
    padding: 10px;
    background-color: rgba(254,214,49,1);
}

p {
    color: white;
    font-size: xx-large;
}

.one {
    grid-area: 1 / 1 / 2 / 5;
}

.two {
    grid-area: 2 / 1 / 6 / 2;
}

.three {
    grid-area: 2 / 2 / 3 / 3;
}

.four {
    grid-area: 2 / 3 / 3 / 5;
}

.five {
    grid-area: 3 / 2 / 4 / 4;
}
.six {
    grid-area: 3 / 4 / 4 / 5;
}

.seven {
    grid-area: 4 / 2 / 5 / 3;
}

.eight {
    grid-area: 4 / 3 / 5 / 4;
}

.nine {
    grid-area: 4 / 4 / 5 / 5;
}

.ten {
    grid-area: 5 / 2 / 6 / 5;
}