.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}
header {
    background-color: #A1A6B4;
    text-align: center;
    padding: 30px
}
body {
    background-color: #94C5CC;
    text-align: center;
    list-style-position: inside;
}
h2 {
    text-decoration: underline;
}
