html {
    font-style: italic;
    background-image: ;
    background-repeat: ;
}

.fancy-header {
}
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}
header {
    background-color: #A1A6B4;
    text-align: center;
    padding: 30px
}
body {
    text-align: center;
    list-style-position: inside;
    background-image: url("../imgs/webb/webb.png");
}
h2 {
    text-decoration: underline;
}
ul, ol {
    list-style: none;
}
#company-morals {
    background-image: url("../imgs/nature.jpeg");
    background-size: 660px;
    color: floralwhite;
}
table, th, td {
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
    font-size: 30px;

}
a:visited {
    color:black;
}
a:link {
    color:red;
}
a:hover {
    color:blue;
}
a:active {
    color:green;
}
